#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
}